/* Start Keyframes animations */

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}

@include keyframes(pulsate) {
  0% {
      transform: scale(1);
    }
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }


}


@mixin pulsate {
  @include animate(pulsate, 10s, infinite, normal);
}



@include keyframes(alert) {

	from {
		opacity: 0;	
	}

	to {
		opacity: 1;
	}
}

@mixin alert {
	@include animate(alert,1s,infinite,normal);
}


@include keyframes(progress) {

	0% {
		opacity: 0;
		transform: translateX(-100%);	
	}


	100% {
		opacity: 1;
		transform: translateX(0);	
	}
}


@mixin progress {
	@include animate(progress,5s,normal,alternate-reverse);
}


@include keyframes(loading) {


	0% {
		//bottom
		border-top: dotted 4px $branco2;
		border-left:dotted 4px $branco2;
		border-right: dotted 4px $branco2;
		border-bottom: dotted 4px $cor1; 
		color: $cor3;
	}

	25% {
		// left
		border-top: dotted 4px $branco2;
		border-right: dotted 4px $branco2; 
		border-bottom: dotted 4px $branco2;
		border-left: dotted 4px $cor2; 
		color: $preto2;
	}


	50% {
		//top
		border-left: dotted 4px $branco2; 
		border-right: dotted 4px $branco2;
		border-bottom: dotted 4px $branco2;
		border-top: dotted 4px $cor4; 
		color:  $cor3; 
	}


	75% {
		//right
		border-bottom: dotted 4px $branco2; 
		border-left: dotted 4px $branco2; 
		border-top: dotted 4px $branco2;
		border-right: dotted 4px $cor4;
		color: $preto2;  
	}

	100%{
		border-left: dotted 4px $branco2; 
		border-right: dotted 4px $branco2;
		border-top: dotted 4px $branco2; 
		color:  $cor3; 
	}
}


@mixin loading {
	@include animate(loading,1s,infinite,normal);
}


@include keyframes(swing)
{
    15%
    {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@mixin swing {
	@include animate(swing,1s,2,normal);
}


@include keyframes(jump)
{
    15%
    {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@mixin jump {
	@include animate(jump,1s,normal,normal);
}

@include keyframes(zoom)
{	
	0% {
		opacity: 0;	
	}
    15%
    {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    30%
    {
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }
    50%
    {
       -webkit-transform: scale(.3);
        transform: scale(.3);
    }
    65%
    {
        -webkit-transform: scale(.6);
        transform: scale(.6);
        opacity: .65;	
    }
    80%
    {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    100%
    {	
    	opacity: 1;	
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@mixin zoom {
	@include animate(zoom,.3s,normal,normal);
}


@include keyframes(pendulo) {

	0% {
		transform: translate(-100px);
	}

	50% {
		transform: translateX(-50px);
	}

	80%{
		transform: translateX(-10px);
	}

	100%{
		transform: translateX(0);
	}
}

@mixin pendulo {
	@include animate(pendulo,1s,1,left);
}



@include keyframes(left) {
	0%{
		visibility: hidden;
	}

	15% {
		visibility: visible;
		transform: translateX(100%);
		//opacity: 0;
	}

	30% {
		transform: translateX(50%);
	}

	50%{
		transform: translateX(-10%);
	}

	65%{
		transform: translateX(-5%);
	}

	80%{
		transform: translateX(-3%);
	}

	90%{
		transform: translateX(-5%);
	}

	100%{
		//opacity: 1;
		transform: translateX(0);
	}
}

@mixin left {
	@include animate(left,2s,1,left);
}


@include keyframes(right) {

	15% {
		transform: translateX(-100%);
		//opacity: 0;
	}

	30% {
		transform: translateX(-50%);
	}

	50%{
		transform: translateX(10%);
	}

	65%{
		transform: translateX(5%);
	}

	80%{
		transform: translateX(3%);
	}

	90%{
		transform: translateX(5%);
	}

	100%{
		//opacity: 1;
		transform: translateX(0);
	}
}

@mixin right {
	@include animate(right,2s,1,left);
}



@include keyframes(up) {

	0%{
		opacity: 0;
	}

	15% {
		transform: translateY(100%);
	}

	30% {
		transform: translateY(50%);
	}

	50%{
		transform: translateY(-10%);
	}

	65%{
		transform: translateY(-5%);
	}

	80%{
		transform: translateY(-3%);
	}

	90%{
		transform: translateY(-5%);
	}

	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

@mixin up {
	@include animate(up,2s,1,normal);
}


@include keyframes(down) {

	0%{
		opacity: 0;
	}

	15% {
		transform: translateY(-100%);
	}

	30% {
		transform: translateY(-50%);
	}

	50%{
		opacity: .5;
		transform: translateY(10%);
	}

	65%{
		transform: translateY(5%);
	}

	80%{
		transform: translateY(3%);
	}

	90%{
		transform: translateY(5%);
	}

	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

@mixin down {
	@include animate(down,2s,1,normal);
}


@include keyframes(bg-color) {

	0%{
		background-color: $cor4;
	}

	25%{
		background-color: $cor3;
	}

	50%{
		background-color: $cor2;
	}

	75%{
		background-color: $cor1;
	}

	100%{
		background-color: $preto;
	}


}

@mixin bg-color {
	@include animate(bg-color,3s,infinite,normal);
}



@include keyframes(tx-color) {

	0%{
		color: $cor4;
	}

	25%{
		color: $cor3;
	}

	50%{
		color: $cor2;
	}

	75%{
		color: $cor1;
	}

	100%{
		color: $preto;
	}


}

@mixin tx-color {
	@include animate(tx-color,3s,infinite,normal);
}


@include keyframes(viagem) {

	0%{
		transform: translateX(0%);
		transform: rotate(-5deg);
	}

	10%{
		transform: translateY(-20%);
		transform: translateX(40%);
	}

	30%{
		transform: translateY(20%);
		transform: rotate(5deg);
	}

	50%{
		transform: translateX(400%);
	}

	80%{
		transform: translateY(0%);
		transform: translateX(-100%);
		transform: rotate(2deg);
	}

	90%{
		transform: translateX(0%);
		transform: translateY(-100%);
	}

	100%{
		transform: translateX(0%);
		transform: rotate(0deg);
	}		

}


@mixin viagem {
	@include animate(viagem,10s,infinite,normal-reverse);
}



@include keyframes(fastdown)
{
    0%
    {	opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100%
    {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }

}


@mixin fastup {
	@include animate(fastup,.3s,normal,normal);
}


@include keyframes(fastup)
{
    0%
    {	opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100%
    {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }

}


@mixin fastdown {
	@include animate(fastdown,.3s,normal,normal);
}




/* End Keyframes animations */