
/*Start Display Grid */
.row{
	@extend .flex-row, .flex-wrap, .flex-content-center;
	min-width: 100%;
}

@mixin col-grid($num){

		&-#{$num} { 
			 @extend .col;  
			 width: calc( (100%/12) * #{$num} ) !important;
		}

		@each $key, $val in $bpoints {
			$max: ''; 

			@if $key == xs {
			 $max: 'max';
			}@else{
				$max: 'min';	
			}

			&-#{$key}\-#{$num} {
				@extend .col; 
					@media screen and ( $max+'-width': $val ){
						width: calc( (100%/12) * #{$num} ) !important;
					}
			}
		
		}	


}


.col{
	
	min-width: calc(100%/12);
	padding: 5px;
	max-width: 100%;

	@each $num in 1, 2, 3, 4, 5, 6, 7, 8, 9 , 10, 11, 12 {
			@include col-grid($num);
	} 

}	


@mixin offset-col($num){

	&-#{$num} { 
		@extend .offset;
		margin-left: calc( (100%/12)*#{$num} )  !important; 
	 }

	@each $key, $val in $bpoints {
		$max: ''; 

		@if $key == 'xs' {
		 $max: 'max';
		}
		@else{
				$max: 'min';	
			}
		
		&-#{$key}\-#{$num} {
			@extend .offset;
					@media screen and ( $max+'-width':$val ){
						margin-left: calc( (100%/12)*#{$num} ) !important ;
					}
		}

	}

}


.offset {
	margin-left: calc( (100%/12) ); 
	@each $num in 1, 2, 3, 4, 5, 6, 7, 8, 9 , 10, 11, 12 {
		@include offset-col($num);
	}	

}

/*End Display Grid */