
/*Start layout custom */

html {
	
	 scroll-behavior: smooth ;
	 transition:  all .1s ease-in-out;


	  /* width */
::-webkit-scrollbar {
  //width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  //background: $preto2; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  //background: $cor1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  //background: $cor1; 
}


}



/* The animation code */
@keyframes down {
  from {transform: translateY(-100%)}
  to {transform: translateY(100%)}
}


*{
	margin: 0;
	padding: 0;
}

body{
	position: absolute;
	font-family:  'Roboto', Helvetica, sans-serif;
	min-width: 300px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.overlay{
	content: '';
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: $preto2;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all .3s ease-in-out;
	display: none;
	z-index: 5;
}

.destac-content{
	position: relative;
	z-index: 10;
	box-shadow: -1px 1px 1px $preto2;
}

.flex-center{
	@extend .flex, .flex-items-center,.flex-justify-center;
}

.flex-left{
	@extend  .flex-center;
	align-items: center !important;
	justify-content: flex-start !important;
}

.flex-right{
	@extend  .flex-center;
	align-items: center !important;
	justify-content: flex-end !important;
}

.col, .row{
	position: relative;
	margin: 0 !important;
	padding: 0!important;
	min-height: 100% inherit;
	min-width: 100% inherit;
}

.row{
	//border: solid 1px blue !important;
}


.default {
	background-color: $cor1 !important;
	color:  $branco;
}

.default-rev {
	background-color: $branco !important;
	color:  $cor1 !important;
}

.search-group{

	@extend .flex-row, .flex-center;
	background-color: $branco !important;
	color:  $cor1;


	input{
		@extend .flex-self-str;	
		border: none !important;
		color:#666;
		font-size: 100px;
		margin: auto  2px !important;
		padding: 10px;
		z-index: 4;

		&:focus {
			box-shadow: none !important;
			outline: 0 !important;
		}

		&::placeholder{
			color:  #666;
			@media screen and (max-width: $l ) {
				font-size: 45px;
			}
			@media screen and (min-width: $l+1 ) {
				font-size: 1em;
			}
		}


	}



	button{
		//@extend .flex-self-str;
		height: 100;
		width: 2em;
		padding: 7px;
		cursor: pointer !important;
		border-color: $branco;
		border-style: solid;
		box-shadow: none !important;
		min-height: 100% !important;


		@media screen and (max-width: $l ) {
			background-color: $cor1 !important;
			color: $branco;
			font-size: 3em;
		}

		@media screen and (min-width: $l+1 ) {
			background-color: $branco !important;
			color: $cor1;
			font-size: 1.8em;
		}

		&:hover{
			opacity: 0.8;
			background-color: $preto2;
		}
	}


}


.logo-content{
	
	//@extend .flex-row, .flex-center, .flex-self-str;
	height: 100%;
	//padding: 10px !important;
	margin: 0px !important;

	img{
		min-height: 40px;
		max-width: 100%;
	}
}


.icon-group{
		@extend .flex-row;
		float: right !important;
		//padding: 10px !important;

		& > p{
			//margin: 20px;
			text-align: left;
		}	
	}

.user-icon, .cart-icon, .menu-icon {
		margin: 5px;
		cursor: pointer;
		user-select:none;




	 @media screen and (max-width:$l){
	 	font-size: 5em;
	 }

	 @media screen and (min-width:$l){
	 	font-size: 2em;
	 }
	}

.user-icon{
		//padding: 10px;
		border-radius: 50%;

		@media screen and (max-width:$l){
		 	font-size: 7em;
			padding: 20px;
			margin: 20px;
			border: solid 5px $branco;
	 	}

		 @media screen and (min-width:$l+1){
	 		font-size: 3em;
	 		padding: 10px;
	 		border: solid 2px $branco;
	 	}
	}

.cart-icon{
		background-color: rgba(255,255,255,.1);
	}

.menu-icon{


}

.expand, .fa-chevron-down{
	padding: 3px;
	font-weight: bold;
	cursor: pointer;
}

.header-login{
	
	position: absolute;
	max-width: 300px;
	min-height: 100px;
	z-index: 2;
	background-color: $branco;
	box-shadow: 12px , 12px 60px $preto !important;
	padding: 5px;
	display: none;

	& > .content {
		width: 100%;
		height: 100%;
		padding: 10px;
		margin: 5px;
	}

	& > .a , & > .b {
		padding: 5px !important;
		margin: 10px !important;
		border-bottom: solid 1px #666;
	}

	&:before {
	   position: absolute;
	  border: 20px solid transparent;
	  border-right-color: #FFFFFF;
	  content: "";
	  top: -30px;
	  transform: rotate(90deg);
	}


}

.btn-custom{
	@extend .flex-self-str;
	background-color: $cor1;
	color: $branco;
	padding: 2em;
	margin: 5px;
	font-weight: bold;
	box-sizing: border-box;
	border-bottom: solid 2px $preto2;
	border-radius: 2px;
}

.banner{
	z-index: -1;
	@extend .default-rev, .flex-center;
	background-image: url('/assets/img/top2.png') !important;
	//background-size: 20% 10%;
	//background-repeat: repeat-x;
	background-attachment: fixed;
	font-weight: bold;
	font-size: 2em;
	min-width: 100%;
	min-height: 50px;
	border-bottom: solid 2px $branco;
	opacity: .7;
	user-select:none;
	cursor: pointer;
	
	& > p{
		display: none;
		padding: 5px;
		background-color: $branco;
		width:auto;
		text-shadow: 1px 1px 5px #ccc;
		margin: 0px auto;
		opacity: 10;

		& > .destac{
			line-height: 2px;
			border-top: solid 3px $cor1;
			border-bottom: solid 3px $cor1;
			border-left: none !important;
			border-right: none !important; 
		}
	}
}



.header{
	@extend .default;
	padding: 5px !important;
	user-select:none;
	z-index:3;

	&-item{
		padding: 10px !important;
	}
}

.menu1 {
	z-index:3;
	background-color: $branco;
	width: 100% !important;
	height: auto;
	margin: 0;
	//border-bottom: solid 2px  rgba(102,102,102,.1) !important;

		::-webkit-scrollbar {
		  z-index: -1;
		  width: none;
		  background-color: transparent;
		  display: none;
		}

		&::-webkit-scrollbar-track {
			//background-color: transparent;
			display: none;
		}
		 
		&::-webkit-scrollbar-thumb {
		  display: none;
		}

		&::-webkit-scrollbar-thumb:hover {
		  display: none;
		}



	.destac{
		font-weight: bold;
		color: $cor2;
	}

	.destac1{
		color: $cor1 !important;
		&:hover{
			background-color: transparent;
		}
	}

	.destac2{
		&:hover{
			background-color: #FFFF00 !important ;
		}
	}

	.destac3{
		color: $cor1 !important;
		border-top: solid 2.5px $cor1;
		border-bottom: solid 2.5px $cor1;
		line-height: .1em !important;
	}

	.destac4{
		@extend .default;
		font-weight: bold;
		font-size: .8em;
		padding: 2px 5px;
		margin-left: 10px;
	}

	& > ul{
		height: 100%;
		padding: 14px !important;
		margin: 0 auto;
		list-style: none;
		overflow-x: none;
		overflow-y: hidden;
		white-space: nowrap;
		user-select:none;
		text-align: center;
		border-bottom: solid 2px  rgba(102,102,102,.1) !important;
		

		& > li{

			z-index: 2;
			display: inline !important;
			white-space: nowrap;
			height: 100%;


			& > a{
				text-transform: lowercase;	
				color: $cor2;
				padding: 20px;
				transition: background .4s ease-in-out;

				@media screen and (max-width: $l){
					font-size: 39px;
				}

				@media screen and (min-width: $l+1){
					font-size: 1em;
				}

				&:hover{
					transition: background .4s ease-in-out;
					background-color: rgba(102,102,102,.1);
				}

				
			}
		}
	}


.childs1{
		position:absolute;

		@media screen and (max-width: $l){
			top: 0px !important;
			left: 0px !important;
			min-width: 200px;
		}

		z-index: 5;
		background-color: $branco;
		list-style: none;
		overflow-x: hidden;
		overflow-y: scroll;
		transition: 2s ease-in-out;
		display: none;

			& > .top {
				
				@media screen and (max-width: $l){
					background-color: $cor1;
					color: $branco ;
					height: 100px;
					font-size: 1.6em;
					font-weight: 100;
				}

				@media screen and (min-width:$l+1){
					padding: 15px !important;
				}

				& .fa-chevron-down{
					@media screen and (max-width: $l){
						display: none;
					}
					transition: 2s ease-in-out;
					transition-delay: 2s;
				}

				& .fa-bars{
					@media screen and (max-width:$l){
						display: none;
					}
				}	

				&:hover{

					@media screen and (max-width:$l){
						color: $branco !important;
						background-color: $cor1 !important;	
					}

					@media screen and (min-width:$l+1){
						color: $cor1 !important;
						background-color: $branco !important;
					}

				}
			} 

			& .bottom{
				border-top: solid 1px #ccc !important;
			}

			& .rotate{
				transform: rotate(180deg);
				transition: 2s ease-in-out;
			}

			& .rotate_start{
				transform: rotate(180deg);
				transition: 2s ease-in-out;
			}


			& > li{
				color: $cor2;
				text-align: left;
				min-width: 100%;
				padding: 7px;

				& .fa-chevron-right{
					font-size: .6em;
					text-align: right;
					float: right;
					margin: 5px;
				}

				& > .fa-chevron-down{
					transition: all .6s ease-in-out;
				}		

				&:hover{
					transition: background .4s ease-in-out;
					background-color: rgba(102,102,102,.1);
					cursor: pointer;
				}
			}

	}
}	

.toggle3{
	transition: all 0.3s ease-in-out;
	transform: translateX(0%);
	display: table;
}

.main{
	z-index: 2;
	background-color: $branco2;
	width: 100%;
	height: auto;
	min-height: 800px;
	overflow-x: hidden;
}

.publicidade1 {
	width: 94%;
	margin: 0 3%;
	background-repeat: no-repeat;
	cursor: pointer;

	@media screen and (max-width: $l){
		height: 216px;
		background: url('/assets/img/publicidade2-mobile.png');
	}

	@media screen and (min-width: $l+1){
		min-height: 180px;
		background: url('/assets/img/publicidade2.png');
	}
	
 	
}


.slider1{
	position: relative;
	width: 94%;
	min-height: 200px;
	margin: 15px 3%;


	& > #previus, & > #next{
		position: absolute;
		z-index: 5;
		background-color: $branco;
		font-size: 3em;
		font-weight: 100;
		color: #ccc;
		padding: 15px;
		cursor: pointer;
		display: none;
		top: 35%;

		&:hover{
			background-color: $branco2;
			color: #666666;
		}
	}

	& > #previus{
		left: 10%;
		box-shadow: 2px 0px 5px $preto2;
	}

	& > #next{
		right: 10%;
		box-shadow: -2px 0px 5px $preto2;
	}

	& > #content{
		background-color: $branco;
		//overflow: hidden;
		cursor: pointer;
	
		img {
			width: 100% inherit;
			height: 100% inherit;
			transition: all 3s ease-in-out;
		}
	}

	& > #slicks{
		background-color: $branco;
		position: absolute;
		width: 100%;
		height: 40px;
		z-index: 2;
		
		ul{

			display: inline-flex;
			width: 100%;
			height: 30px;
			list-style: none;
			@extend .flex-center;
		
			li{

				button{
					border: none !important;
					background-color: #ccc;
				 	height: 5px;
				 	width: 20px;
				 	margin: 2.5px;
				 	cursor: pointer;

					&:hover{
						background-color: #666666;
					}

					&:active{
						background: $cor1 ;
					}
				}
			}

			 & .active{
						background: $cor1 ;
			 }
		}
	}
}


/*End layout custom */

