/* Start Fonts */
  @font-face {
     font-family: $font1;
     src: url($font1);
  }


@font-face {
     font-family: $font2;
     src: url($font2);
}

@font-face {
     font-family: $font3;
     src: url($font3);
}

@font-face {
     font-family: $font4;
     src: url($font4);
}

@font-face {
     font-family:$font5;
     src: url($font5);
}



/* End Fonts */